@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
        background: rgb(6, 200, 244);
        
      }


a {
    text-decoration: none;
    color: inherit;
}

/* Utility Classes */
.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    border: none;
    background: #111;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
}

.btn:hover {
    cursor: pointer;
    background: rgb(247, 13, 13);
}

#navbar-items li:hover {
    cursor: pointer;
    background: rgb(247, 13, 13);
}


.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/* Navbar */
#navbar {
    width: 100%;
    background: rgb(39, 13, 154);
    color: rgb(12, 11, 12);
    height: 80px;
    position: fixed;
}

#navbar-container {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

#navbar-items {
    list-style: none;
    display: flex;
}

#navbar-items li {
    padding: 10px;
    text-transform: uppercase;
}

/* Showcase */
#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    
    /* Overlay */
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;

}


#showcase-container {
    text-align: center;

}

#showcase-container h2 {
    font-size: 2.5rem;
}

#showcase-container p {
    font-size: 1.2rem;
    padding: 7px 0;
}
